{% extends '../templates/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}{{ title }}{% endblock %}</h1>

        <!-- schema management -->
        {% buttons %}
            <a href="{{ refresh }}">
                <button type="button" class="btn btn-info">
                    {% bootstrap_icon "refresh" %} Refresh
                </button>
            </a>
            <a href="{{ link }}">
                <button type="button" class="btn btn-info">
                    {% bootstrap_icon "wrench" %} Schema Management
                </button>
            </a>
        {% endbuttons %}
        <hr>


        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <!-- Project list, and ADD button with input field -->
        {% block content %}
        <h2>{{ root_schema }} list</h2>
        <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ root_schema }} Name" id="add_new" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit" formaction="/../js2ds/" name="add" id="get_new" value="" onclick="getValue()">
                                {% bootstrap_icon "plus" %} Add {{ root_schema }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <!-- list of all project elements with EDIT and DELETE button -->
        {% for name in project_list %}
        <div class="panel panel-default">
          <table class="table table-hover">
              <form role="form" action="" method="post">
                  {% csrf_token %}
                    <tbody>
                      <tr>
                        <td>
                          <h4><b>{{ name }}</b></h4>
                        </td>
                        <td class="text-right text-nowrap">
                          <button class="btn btn-info" type="submit" value="{{ name }}" formaction="/../js2ds/" name="edit">
                              {% bootstrap_icon "wrench" %} Edit
                          </button>
                          <button class="btn btn-warning" type="submit" value="{{ name }}" formaction="" name="delete">
                            {% bootstrap_icon "trash" %} Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
              </form>
          </table>
        </div>
        {% endfor %}


        {% endblock %}
    </div>

    <!-- SCRIPT for project name get getValue() -->
    <script>
    function getValue() {
        if (document.getElementById('add_new').value){
            document.getElementById('get_new').value = document.getElementById('add_new').value;
        }
        else{
            document.getElementById('get_new').value = "generic_name";
        }
    }
    </script>


{% endblock %}