{% extends '../templates/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    {% load staticfiles %}
    <!-- hide.css styles the js2ds.html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/hide.css' %} ">
{% endblock %}

{% load custom_tags %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}
            {% for elli in entity_list %}
                {{ elli }} /
            {% endfor %}
        {% endblock %}</h1>
        <hr>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}

        <!-- ORDER of displaying elements, o is also the name of resulting JSON keys -->
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="well">

        <!-- Schema filename hidden value ( example: Project.atjs ) -->
        <div class="form-group" hidden>
                <input type="text" class="form-control" value="{{ schema_filename }}" name="schema_filename">
        </div>

        <!-- Entity list hidden value ( example: BasicSort,QuickSort ) -->
        <div class="form-group" hidden>
                <input type="text" class="form-control" value="{{ entity_list }}" name="entity_list">
        </div>

        <!-- Parameters list ( example: ["PROJ-{}]", "[algs/ALG-{}]" ) -->
        <div class="form-group" hidden>
                <input type="text" class="form-control" value="{{ parameters }}" name="parameters">
        </div>

        <!-- Filename location of the resulting JSON file -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Filename</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" value="{{ filename }}" name="Filename" readonly>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        {% for o in order %}
            {% for key, value in schema_data.items %}
                {% if key == o %}
                    {% for k, v in value.items %}

                        {% if k == 'type' %}

                            <!-- ENTITY NAME -->
                            {% if v == 'entity_name' %}
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">{% description value %}</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="{{ o }}" value="{{ entity_name }}" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button" disabled>{{ v }}</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                </div>
                            {% endif %}

                            <!-- STRING -->
                            {% if v == 'string' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">{% description value %}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" id="pattern{{ o }}" value="{% pattern value %}" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label small" id="error{{ o }}"></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <!-- INTEGER -->
                            {% if v == 'integer' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">{% description value %}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" id="minmax{{ o }}" value="{% minmax value %}" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label small" id="error{{ o }}"></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}


                            <!-- DOUBLE -->
                            {% if v == 'double' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">{% description value %}</label>
                                                <div class="col-sm-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" id="minmaxdouble{{ o }}" value="{% minmax value %}" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label small" id="error{{ o }}"></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <!-- FILE -->
                            {% if v == 'File' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-xs-12">{% description value %}</label>
                                                <div class="col-sm-7 col-xs-6">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                    {% buttons %}
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info collapse_button" type="button" value="collapse_button{{ o }}">
                                                            {% bootstrap_icon "pencil" %}
                                                        </button>
                                                        <label class="btn btn-success btn-file">
                                                            <input type="file" id="area{{ o }}" style="display: none;" onchange="read(this.id)">
                                                                {% bootstrap_icon "folder-open" %}
                                                            </input>
                                                        </label>
                                                    </span>
                                                    {% endbuttons %}
                                                </div>
                                            </div>
                                            <!-- second part of File the hidden panel -->
                                            <div class = "panel" id="collapse_button{{ o }}" style="display: none">
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                    </div>
                                                    {% csrf_token %}
                                                    <div class="form-group col-sm-7">
                                                        <textarea class="form-control" id="textarea{{ o }}" name="textarea{{ o }}" rows="20" placeholder="Your text goes here...">{% for fk, fv in files.items %}{% if fk == o %}{% if fv != None %}{{ fv }}{% endif %}{% endif %}{% endfor %}</textarea>
                                                    </div>
                                                    <div class="col-sm-2">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- root info -->
                                            <div class="form-group" hidden>
                                                    <input type="text" class="form-control" value="{% root value %}" name="root{{ o }}">
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <!-- FILES -->
                            {% if v == 'Files' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-xs-12">{% description value %}</label>
                                                <div class="col-sm-7 col-xs-6">
                                                     <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                    {% buttons %}
                                                    <span class="input-group-btn">
                                                    {% csrf_token %}
                                                        {% if b2 %}
                                                        <!-- Collapse Button -->
                                                        <button class="btn btn-info collapse_button" type="button" id="files_collapse_button{{ o }}" value="collapse_button{{ o }}">
                                                            {% bootstrap_icon "th-list" %}
                                                        </button>
                                                        {% endif %}
                                                        <!-- Delete all files button -->
                                                        <button class="btn btn-warning" id="delete_files{{ o }}" onclick="delete_files(this.id)" type="button">
                                                            {% bootstrap_icon "trash" %}
                                                        </button>
                                                        <!-- Browse Files -->
                                                        <label class="btn btn-success btn-file">
                                                            <input type="file" name="upload_files{{ o }}" id="area{{ o }}" style="display: none;" onchange="readFiles(this.id)" multiple>
                                                                {% bootstrap_icon "folder-open" %}
                                                            </input>
                                                        </label>
                                                    </span>
                                                    {% endbuttons %}
                                                </div>
                                            </div>
                                            <!-- listing files elements -->
                                            {% if b2 %}
                                                <div id="collapse_button{{ o }}" style="display: none">
                                                {% for el in b2 %}
                                                    <div class="form-group" id="hide_one_file{{ el }}">
                                                        <div class="col-sm-4">
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <input type="text" class="form-control" value="{{ el }}" disabled>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            {% buttons %}
                                                            <span class="input-group-btn">
                                                                <!-- DOWNLOAD BUTTON -->
{#                                                                <a href="file:///{% for fk, fv in files_download.items %}{% if fk == o %}{% for arr in fv %}{% if el in arr %}{{ arr }}{% endif %}{% endfor %}{% endif %}{% endfor %}" download>#}
{#                                                                    <button class="btn btn-info" type="button" disabled>#}
{#                                                                        {% bootstrap_icon "save" %}#}
{#                                                                    </button>#}
{#                                                                </a>#}
                                                                <!-- DELETE BUTTON -->
                                                                <button class="btn btn-warning" id="remove_file{{ o }}" value="{{ el }}" onclick="delete_file(this.id, this.value)" type="button">
                                                                    {% bootstrap_icon "trash" %}
                                                                </button>
                                                            </span>
                                                            {% endbuttons %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            {% endif %}
                                            <!-- root info -->
                                            <div class="form-group" hidden>
                                                    <input type="text" class="form-control" value="{% root value %}" name="root{{ o }}">
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <!-- ENTITY [] -->
                            {% if v == 'Entity []' %}
                                {% for a, b in existing_data.items %}
                                    {% for a2, b2 in b.items %}
                                        {% if a2 == o %}
                                            <!-- first part of ENTITY -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-xs-12">{% description value %}</label>
                                                <div class="col-sm-7 col-xs-6">
                                                     <div class="input-group">
                                                        <input type="text" class="form-control" id="{{ o }}" name="{{ o }}" value="{{ b2 }}" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button" disabled>{{ v }}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                    {% if b2 %}
                                                    {% buttons %}
                                                        <span class="input-group-btn">
                                                            <!-- Collapse button -->
                                                            <button class="btn btn-info collapse_button" type="button" id="files_collapse_button{{ o }}" value="collapse_button{{ o }}">
                                                                {% bootstrap_icon "th-list" %}
                                                            </button>
                                                            <!-- Delete all files button -->
                                                            <button class="btn btn-warning" id="delete_files{{ o }}" onclick="delete_files(this.id)" type="button">
                                                            {% bootstrap_icon "trash" %}
                                                            </button>
                                                        </span>

                                                    {% endbuttons %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- listing entity elements -->
                                            {% if b2 %}
                                                <div id="collapse_button{{ o }}" style="display: none">
                                                {% for el in b2 %}
                                                    <div class="form-group" id="hide_one_file{{ el }}">
                                                        <div class="col-sm-4">
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <input type="text" class="form-control" name="input_edit{{ forloop.counter }}{{ o }}" value="{{ el }}" readonly>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            {% buttons %}
                                                            <span class="input-group-btn">
                                                                <!-- EDIT BUTTON -->
                                                                <button class="btn btn-info" name="edit{{ forloop.counter }}{{ o }}" type="submit" value="EDIT">
                                                                    {% bootstrap_icon "wrench" %}
                                                                </button>
                                                                <!-- DELETE BUTTON -->
                                                                <button class="btn btn-warning" id="remove_file{{ o }}" value="{{ el }}" onclick="delete_file(this.id, this.value)" type="button">
                                                                    {% bootstrap_icon "trash" %}
                                                                </button>
                                                            </span>
                                                            {% endbuttons %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            {% endif %}
                                            <!-- create new entity -->
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <input type="text" class="form-control" name="add_entity_name{{ o }}" placeholder="{% description value %} Name">
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                    {% buttons %}
                                                    <!-- BUTTON CREATE NEW ENTITY -->
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" name="add_entity{{ o }}" value="ADD" type="submit">
                                                            {% bootstrap_icon "plus" %}
                                                        </button>
                                                    </span>
                                                    {% endbuttons %}
                                                </div>
                                            </div>
                                            <!-- eType info -->
                                            <div class="form-group" hidden>
                                                    <input type="text" class="form-control" value="{% eType value %}" name="eType{{ o }}">
                                            </div>
                                            <!-- parameters info -->
                                            <div class="form-group" hidden>
                                                    <input type="text" class="form-control" value="{% parameters value %}" name="param{{ o }}">
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <!-- END OF TYPES -->

                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
        <hr>

        <!-- SUBMIT, VALIDATE, RESET and HOME-->
        {% csrf_token %}

        <div class="form-group row">
        <div class="container">
        {% buttons %}
            <div class="text-left col-sm-6">
            <a href="{{ link }}">
                <button type="button" class="btn btn-info">
                {% bootstrap_icon "triangle-left" %} Home
                </button>
            </a>
            </div>
            <div class="text-right col-sm-6">
            <button type="reset" class="btn btn-danger" formaction="/../index/">
                {% bootstrap_icon "retweet" %} Reset
            </button>
            <button type="button" onclick="validate()" class="btn btn-danger">
                {% bootstrap_icon "question-sign" %} Validate
            </button>
            <button type="submit" class="btn btn-success" id="submit_button" name="submit_button" value="SUBMIT" formaction="">
                {% bootstrap_icon "ok" %} Submit
            </button>
            </div>
        {% endbuttons %}
        </div>
        </div>

        </form>


    {% endblock %}
    </div>


    <!-- SCRIPT for collapse_button hides and shows elements -->
    <script>
    var acc = document.getElementsByClassName("collapse_button");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            //this.nextElementSibling.classList.toggle("show");
            var div = document.getElementById(this.value);
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            }
            else {
                div.style.display = 'block';
            }
        }
    }
    </script>

    <!-- SCRIPT for removing FILES from input area -->
    <script>
    function delete_files(arg_id){
        // set value to []
        var input_id = arg_id.replace('delete_files', '');
        var input_field = document.getElementById(input_id);
        input_field.value = "[]";
        // hide elements
        document.getElementById('collapse_button' + input_id).style.display = 'none';
        //hide collapse button
        document.getElementById('files_collapse_button' + input_id).style.display = 'none';
    }
    </script>

    <!-- SCRIPT for removing single FILE from input area -->
    <script>
    function delete_file(arg_id, arg_value){
        var input_id = arg_id.replace('remove_file', '');
        var input_field = document.getElementById(input_id);
        var output = input_field.value;
        output = output.replace(/'/g, '"');
        var array = JSON.parse(output);
        var new_output = [];
        for (var i = 0; i < array.length; i++){
            if (array[i] != arg_value){
                new_output.push(array[i]);
            }
        }
        new_output = JSON.stringify(new_output);
        input_field.value = new_output;
        // hide this file listing element
        document.getElementById('hide_one_file' + arg_value).style.display = 'none';
        if (new_output == "[]"){
            //hide collapse button
            document.getElementById('files_collapse_button' + input_id).style.display = 'none';
        }
    }
    </script>



    <!-- SCRIPT for reading FILE into textarea and putting filename into input form -->
    <script>
    function read(arg_id){
        // extract filename from C:/fakepath/filename
        var filename = document.getElementById(arg_id).value.split('/').pop().split('\\').pop();
        var arg_o = arg_id.replace('area', '');
        document.getElementById(arg_o).value = filename;
        var file = document.getElementById(arg_id).files[0];


        var reader = new FileReader();
        reader.onload = function (e) {
            var textArea = document.getElementById('text'.concat(arg_id));
            textArea.value = e.target.result;
        };
        reader.readAsText(file);
    }
    </script>


    <!-- SCRIPT for FILES putting filenames into array input form -->
    <script>
    function readFiles(arg_id){
        var container = document.getElementById(arg_id);
        var arg_o = arg_id.replace('area', '');
        // if empty then [] else ['name.ext', 'name2.txt', ...]
        var output = document.getElementById(arg_o).value;
        output = output.replace(/'/g, '"');
        output = JSON.parse(output);

        for (var i = 0; i < container.files.length; i++){
            // does filename already exist in our list
            if (output.indexOf(container.files[i].name) == -1){
                output.push(container.files[i].name);
            }
        }
        // save new array to input field
        document.getElementById(arg_o).value = JSON.stringify(output);
    }
    </script>



    <!-- VALIDATION (COLOR ME RED) on document ready and with button VALIDATE-->
    <script>
    var order = {{ order|safe }};
    document.addEventListener("DOMContentLoaded", function(event) {
        var state = document.readyState;
        if (state == 'interactive') {
            // alert(order[1]);
            validate();
        }
    });

    function validate() {
        for (var i = 0; i < order.length; i++) {
            if (document.getElementById(order[i]) != null){
                var inputVal = document.getElementById(order[i]);
                // does the ID have error handling
                if (document.getElementById("error" + order[i]) != null) {
                    var errorVal = document.getElementById("error" + order[i]);

                    // STRING case
                    if (document.getElementById("pattern" + order[i]) != null){
                        var patternVal = document.getElementById("pattern" + order[i]);
                        // PATTERN if present
                        if (patternVal.value){
                            var pattern = new RegExp('^' + patternVal.value + '$');
                            if (!pattern.test(inputVal.value)) {
                                // RED color
                                inputVal.style.backgroundColor = "#FF9999";
                                errorVal.innerHTML = "pattern: " + patternVal.value;
                            }
                            else{
                                // GREEN color
                                inputVal.style.backgroundColor = "#DFF0D8";
                                errorVal.innerHTML = "";
                            }
                        }
                    }

                    // INTEGER case
                    if (document.getElementById("minmax" + order[i]) != null){
                        var minmax = document.getElementById("minmax" + order[i]);
                        // no value present
                        if (!inputVal.value){
                            inputVal.style.backgroundColor = "#FF9999";
                            errorVal.innerHTML = "min, max [" + minmax.value + "]";
                        }
                        // is number
                        else if (!isNaN(inputVal.value)){
                            // whole number
                            if (inputVal.value == parseInt(inputVal.value)) {
                                // no min and max
                                if (minmax.value.split(',')[0] == '-inf' && minmax.value.split(',')[1] == 'inf'){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (minmax.value.split(',')[0] == '-inf' && parseInt(minmax.value.split(',')[1]) >= inputVal.value){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (parseInt(minmax.value.split(',')[0]) <= inputVal.value && minmax.value.split(',')[1] == 'inf'){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (parseInt(minmax.value.split(',')[0]) <= inputVal.value && parseInt(minmax.value.split(',')[1]) >= inputVal.value){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                // out of bounds
                                else{
                                    inputVal.style.backgroundColor = "#FF9999";
                                    errorVal.innerHTML = "min, max [" + minmax.value + "]";
                                }
                            }
                            // not a whole number
                            else {
                                inputVal.style.backgroundColor = "#FF9999";
                                errorVal.innerHTML = "Not an integer";
                            }
                        }
                        // not a number
                        else{
                            inputVal.style.backgroundColor = "#FF9999";
                            errorVal.innerHTML = "Not a number";
                        }
                    }

                    // TODO double
                    // DOUBLE case
                    if (document.getElementById("minmaxdouble" + order[i]) != null){
                        var minmaxdouble = document.getElementById("minmaxdouble" + order[i]);
                        // no value present
                        if (!inputVal.value){
                            inputVal.style.backgroundColor = "#FF9999";
                            errorVal.innerHTML = "min, max [" + minmaxdouble.value + "]";
                        }
                        // is number
                        else if (!isNaN(inputVal.value)){
                            // is float
                            if (inputVal.value == parseFloat(inputVal.value)) {
                                // no min and max
                                if (minmaxdouble.value.split(',')[0] == '-inf' && minmaxdouble.value.split(',')[1] == 'inf'){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (minmaxdouble.value.split(',')[0] == '-inf' && parseFloat(minmaxdouble.value.split(',')[1]) >= inputVal.value){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (parseFloat(minmaxdouble.value.split(',')[0]) <= inputVal.value && minmaxdouble.value.split(',')[1] == 'inf'){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                else if (parseFloat(minmaxdouble.value.split(',')[0]) <= inputVal.value && parseFloat(minmaxdouble.value.split(',')[1]) >= inputVal.value){
                                    // GREEN color
                                    inputVal.style.backgroundColor = "#DFF0D8";
                                    errorVal.innerHTML = "";
                                }
                                // out of bounds
                                else{
                                    inputVal.style.backgroundColor = "#FF9999";
                                    errorVal.innerHTML = "min, max [" + minmaxdouble.value + "]";
                                }
                            }
                            // not a whole number
                            else {
                                inputVal.style.backgroundColor = "#FF9999";
                                errorVal.innerHTML = "Not an integer";
                            }
                        }
                        // not a number
                        else{
                            inputVal.style.backgroundColor = "#FF9999";
                            errorVal.innerHTML = "Not a number";
                        }
                    }

                }
            }
        }
    }
    </script>


{% endblock %}
