{% extends '../templates/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    {% load staticfiles %}
    <!-- accordion.css styles the schema.html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/accordion.css' %} ">
{% endblock %}

{% load custom_tags %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}{{ title }}{% endblock %}</h1>


        <!-- this are the two buttons for HOME and META-SCHEMA -->
        {% buttons %}
            <a href="{{ link.0 }}">
                <button type="button" class="btn btn-info">
                    {% bootstrap_icon "home" %} Home
                </button>
            </a>
            <a href="{{ link.1 }}">
                <button type="button" class="btn btn-info">
                    {% bootstrap_icon "info-sign" %} Meta-Schema
                </button>
            </a>
        {% endbuttons %}
        <!-- end of two buttons -->


        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        <!-- accordion with SCHEMA FILES, can EDIT, RENAME and DELETE individual files -->
        <!-- the content is created with schemas.py -->
        <hr>
        {% block content %}
            <h2>Schemas</h2>
            {% for key, value in schema_data.items %}
                <button class="accordion">{{ key }}</button>
                <div class = "panel">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" rows="10" id="comment" name="textarea">{% nice_json value %}</textarea>
                        </div>
                        {% buttons %}
                            <div class="text-right">
                                <button type="submit" class="btn btn-success" name="schema_save" formaction="" value="{{ key }}">
                                    {% bootstrap_icon "floppy-disk" %} Save changes
                                </button>
                                <button type="submit" class="btn btn-warning" name="schema_delete" formaction="" value="{{ key }}">
                                    {% bootstrap_icon "trash" %} Delete file {{ key }}
                                </button>
                            </div>
                        {% endbuttons %}
                        <hr>
                    </form>
                </div>
            {% endfor %}

            <!-- UPLOAD FILES and DELETE all schema files -->
            <form role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% buttons %}
                    <div class="text-right">
                        <label class="btn btn-success btn-file">
                            {% bootstrap_icon "floppy-open" %} Upload Schema Files
                            <input name="upload_files" onchange="this.form.submit()" formaction="" type="file" multiple style="display: none;">
                        </label>

                        <button type="submit" class="btn btn-warning" name="delete_all" formaction="" value="YES">
                            {% bootstrap_icon "trash" %} Delete All Schema Files
                        </button>
                    </div>
                {% endbuttons %}
            </form>


            <!-- ROOT SCHEMA with 1 option select -->
{#            <hr>#}
{#            <h2>Root Schema</h2>#}
{##}
{#            <form role="form" action="" method="post">#}
{#                {% csrf_token %}#}
{#                <select class="form-control" name="root_schema" onChange="form.submit();">#}
{#                    {% for key, value in schema_data.items %}#}
{#                        {% if key ==  root_schema %}#}
{#                            <option selected>{{ key }}</option>#}
{#                        {% else %}#}
{#                            <option>{{ key }}</option>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </form>#}

            <!-- ROOT SCHEMA DIRECTORY with 1 input field and 1 button -->
            <hr>
            <h2>Root Schema Directory</h2>

            <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="usr" name="root_path" value="{{ root_path }}">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    {% bootstrap_icon "floppy-disk" %} Update
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>


            <!-- ROOT DIRECTORY with 1 input field and 1 button -->
            <hr>
            <h2>Root Directory</h2>

            <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="usr" name="root_path" value="{{ root_path }}">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    {% bootstrap_icon "floppy-disk" %} Update
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>

        {% endblock %}
    </div>

    <!-- SCRIPT for accordion from http://www.w3schools.com/howto/howto_js_accordion.asp -->
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
      }
    }
    </script>

{% endblock %}